<h1>Portfolio Items</h1>

<% @portfolio_items.each do |portfolio| %>
  <div>
    <h3><%= portfolio.title%></h3>
    <p><%= portfolio.subtitle %></p>
    <p><%= portfolio.body %></p>
    <%= image_tag portfolio.thumb_image unless portfolio.thumb_image.nil? %>
  </div>
<% end %>
