<div class="col-sm-2 py-4 contain">
   <h4 class="text-black">Explore</h4>
   <ul class="list-unstyled">
     <%= nav_helper('text-black', 'li')%>
     <%= login_helper('text-black') %>
   </ul>
</div>

