  <section class="main-section text-center">
    <div class="main-section--head">
      <div class="container">
        <h2 class="jumbotron-heading">My Portfolio</h2>
        <p class="lead text-muted">I do believe it is important to be future-ready with a portfolio to be able to deal with however the market evolves. This is better than just forecasting accurately but in having the weapons ready to deal with the uncertainties. - Anand Mahindra </p>
        <p>
        <a href="<%= about_path %>" class="btn btn-primary my-2">About me</a>
        <a href="<%= blogs_path %>" class="btn btn-secondary my-2">My Blogs</a>
        </p>
      </div>
    </div>
   
  </section>

