<div class="row about-page">
  <div class="col-md-6">
    <%= image_tag("mypics.jpg", class: 'my-img', alt: 'profile image') %>
  </div>
  <div class="col-md-6">
    <h1 class="text-center">About me</h1>
    <div class="about-me">
      <p>Hello! I’m a Technophile and Software Developer specializing in developing web applications, testing and making the internet a more beautiful and positive place. I am a fast learner who loves learning new concepts and technology. I hold a National Diploma in Computer Engineering from Yaba College of Technology. With 1.5 years of experience in software development using Rails, Javascript and Python.</p>
    </div>
    <div class="line"></div>
    <div class="contact">
      <h3>Have an Idea?</h3>
      <button class="btn-lg"><a href="mailto:danielshotonwa53@gmail.com?subject=PortFolio Contact">Contact Me</a></button>
    </div>
  </div>
</div>

