<div class="cover about-me">
  <h1>Contact Me</h1>
  <p>Phone number: <%= number_to_phone '08096522832' %> </p>
  <p>Email Address: Danielshotonwa53@gmail.com</p>
</div>
<div class="line"></div>
<div class="contact">
  <h3>Have an Idea?</h3>
  <button class="btn-lg"><a href="mailto:danielshotonwa53@gmail.com?subject=PortFolio Contact">Contact Me</a></button>
</div>

